#page-load{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    &.dark{
        background:#29292e;
        color: #fafafa;
    }

    > svg{
        height: 12rem;
    }
}