.button{    
    color: #835afd;    
    border: 1px solid #835afd;
    border-radius: 8px;
    margin-top: 64px;
    padding: 0 32px;
    height: 50px;    
    font-weight: 500;
    background: transparent;    

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 0.3s;    

    img{
        margin-right: 8px;
    }

    &:not(:disabled):hover{
        background: #835afd ;        
        color: #fff;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}